
body {
    color: rgb(240, 240, 240);
    font-family: monospace, monospace ;
    background: #0F2027;
    background: linear-gradient(to right, #777777, #474747, #1b1b1b); 
    margin: 0;
    
    
    
  }
h1 {
    margin: 0;
    background: linear-gradient(to right, #000000, #6e6e6e, #000000); 
    text-align: center;
    text-shadow: 1px 1px 5px black;
    
}
.center{
    position: fixed;
    left: 50%;
}
.button-style{
  padding: 50px 50px;
  border-width: 2px;
}