
* {
  font-family: 'Goldman';
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  margin: 0;

}
body,html {
  background-color: black;
  background-image: url("/src/img/background.jpg");
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  font-size: 175%;
  display: flex;
  align-items: center;
  height: 150px;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 39%); 
  text-align: left;
  text-shadow: 1px 1px 5px black;
  vertical-align: middle;
  
}
.links {
float: left;
padding-right: 2%;
padding-left: 2%;
height: fit-content;
width: auto;
max-height: fit-content;
max-width: fit-content;

}
.logo{
  scale: 1;
  max-height: fit-content;
  max-width: fit-content;
  float: left;
   
}
.text{
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
  height:500px;
  font-size:  175%;
  text-align:center;
  display: flex;
  align-items: center;
}

.button{
  text-decoration: none;
  border-width: 2px;
  font-size: 20;
}
.parallax {
  /* The image used */
  background-image: url("/src/img/background.jpg");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
a:hover{
  color: #9a39b6;
  cursor: pointer;
}
a:link{
  text-decoration: none;
}
/*
violet: 8B3C7F, 139,60,127